body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea,
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
}

button[type="submit"] {
    background-color: orangered;
    color: #fff;
    cursor: pointer;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#contactForm{
    padding-right:  20px;
}